article {
  line-height: 1.5rem;
}

article img {
  border-radius: 15px;
  height: 250px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

aside {
  padding-bottom: 10px;
}

aside a {
  color: #587b7f;
  text-decoration: none;
}

aside a:hover {
  color: #de6b48;
}
