header {
  background: #040f16;
  border-bottom: 5px solid #de6b48;
  color: #ececec;
  padding: 0.5rem 15%;
  text-align: center;

  display: grid;
  grid-template-columns: 250px 1fr;
}

header h1 {
  margin: 15px 0;
}

nav ul {
  padding: 15px 15px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

nav ul li {
  display: inline-block;
  margin: 0 0.5rem;
}

nav a {
  color: #ececec;
  text-decoration: none;
}

nav a:hover {
  color: #de6b48;
}
