footer {
  background: #040f16;
  color: #ececec;
  padding: 50px 15% 25px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

footer h4 {
  border-bottom: 1px solid #de6b48;
  margin: 0;
  max-width: 250px;
  padding-bottom: 5px;
}

footer ul {
  color: #de6b48;
  list-style: square;
  padding-left: 1rem;
}

footer ul li {
  margin: 1rem 0;
}

footer a {
  color: #de6b48;
  text-decoration: none;
}

footer a:hover {
  color: #ececec;
}
